# Binaries
/bin
/build

# Go modules (optional)
/vendor

# Editor files
.idea/
.vscode/
*.swp
*.swo

# Logs and temp
*.log
/tmp

# Operator SDK generated deployment (optional)
config/manager/*
!/config/crd/bases